<ul class="list-group">
    <li class="list-group-item active"><b>Plus de détails</b></li>
    <li class="list-group-item"><b>Identifiant</b>: {{candidat.id_candidat}}</li>
    <li class="list-group-item"><b>Nom</b>: {{candidat.nom_candidat}}</li>
    <li class="list-group-item"><b>Prénom</b>: {{candidat.prenom_candidat}}</li>
    <li class="list-group-item"><b>E-mail</b>: {{candidat.email}}</li>
    <li class="list-group-item"><b>Télèphone</b>: {{candidat.telephone}}</li>
    <li class="list-group-item"><b>Adresse</b>: {{candidat.adresse}}</li>
    <li class="list-group-item"><b>Code Postal</b>: {{candidat.code_postale}}</li>
    <li class="list-group-item"><b>Ville</b>: {{candidat.ville}}</li>
    <li class="list-group-item"><b>Nom Société/Agence</b>: {{candidat.nom-societe-agence}}</li>
    <li class="list-group-item"><b>Site Web</b>: {{candidat.site-web}}</li>
    <li class="list-group-item"><b>Client/Fournisseur</b>: {{candidat.client-fournisseur}}</li>
    <li class="list-group-item"><b>Dossier de candidature</b>: {{candidat.dossier_candidature}}</li>
</ul>

<div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-outline-info">Fermer</button>

</div>