<ul class="list-group">
    <li class="list-group-item active"><b>Plus de détails</b></li>
    <li class="list-group-item"><b>Identifiant</b>: {{candidat.id_candidat}}</li>
    <li class="list-group-item"><b>Nom_ste_agence:</b> {{candidat.nom_societe_agence}}</li>
    <li class="list-group-item"><b>Personne_resp_candidature</b>: {{candidat.personne_responsable_candidature}}</li>
    <li class="list-group-item"><b>Adresse</b>: {{candidat.adresse}}</li>
    <li class="list-group-item"><b>Code Postal</b>: {{candidat.code_postale}}</li>
    <li class="list-group-item"><b>E-mail</b>: {{candidat.email}}</li>
    <li class="list-group-item"><b>CGSM</b>: {{candidat.GSM}}</li>
    <li class="list-group-item"><b>Site Web</b>: {{candidat.site_web}}</li>
    <li class="list-group-item"><b>Client/Fournisseur</b>: {{candidat.client_fournisseur}}</li>
    <li class="list-group-item"><b>Catégorie</b>: {{candidat.categorie}}</li>
    <li class="list-group-item"><b>Dossier de candidature</b>:<a download href="{{base_url}}/{{candidat.dossier_candidature}}"> Cliquer ici pour télècharger le dossier</a></li>
    <li class="list-group-item"><b>Autre piéces</b>:<a download href="{{base_url}}/{{candidat.autre_pieces}}"> Cliquer ici pour télècharger le dossier</a>
    </li>

</ul>

<div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-outline-info">Fermer</button>

</div>