<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des speakers disponibles

                            <button mat-raised-button (click)="OpenNewSpeaker()">
                      Ajouter
                      <i class="fa fa-plus" aria-hidden="true"></i> 
                         </button>
                        </h4>

                    </div>


                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">




                            <div class="table-responsive-xl">

                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                image
                                            </th>
                                            <th>
                                                Nom
                                            </th>
                                            <th>
                                                prenom
                                            </th>

                                            <th>
                                                Lien Linkedin
                                            </th>

                                            <th>
                                                Pays
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let speak of speake| paginate: { itemsPerPage: 7, currentPage: p } ">

                                            <td>
                                                {{speak.id_speakers}}
                                            </td>
                                            <td>
                                                <img *ngIf="speak.image!=null" src="{{base_url}}{{speak.image}}" style="width: 150px;height: 150px;">
                                            </td>
                                            <td>
                                                {{speak.nom_speakers}}
                                            </td>
                                            <td>
                                                {{speak.prenom_speakers}}
                                            </td>
                                            <td>
                                                {{speak.profil_speakers}}
                                            </td>
                                            <td>
                                                {{speak.pays}}
                                            </td>
                                            <td>

                                                <button type="button" color="danger" class="" (click)="Supp(speak.id_speakers)">
                                                    <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                    </button>


                                                <button type="button" color="primary" class="" (click)="openEdit(speak)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" color="primary"></i>
                                                </button>
                                            </td>





                                        </tr>

                                    </tbody>


                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>