<div class="d-flex justify-content-between">
    <h4> Modifier les informations de jury</h4>
    <button mat-button (click)="onClose()"> 
    <i class="material-icons">close</i>
</button>
</div>
<div style="overflow: auto; height: 450px;">
    <form #projectForm="ngForm" (ngSubmit)="Update() " novalidate>
        <div class="mt-4 input-group">


            <div class="input-group-prepend">
                <span class="input-group-text"> Nom jury</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="nom_jury" [(ngModel)]="juryModel.nom_jury">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Prenom jury</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="prenom_jury" [(ngModel)]="juryModel.prenom_jury">
        </div>



        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Profil jury</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="profil_jury" [(ngModel)]="juryModel.profil_jury">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Pays jury</span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="pays_jury" [(ngModel)]="juryModel.pays">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer
       
    </button>


        <button type="button" (click)="resetForm()"> Annuler</button>






    </form>
</div>