<div class="d-flex justify-content-between">
    <div class="card">
        <div class="card-header" class="card-header card-header-danger        ">

            <h4 class="card-title mt-0" style="text-align: center;"> Modifier les informations de Speakers
                <button mat-button (click)="onClose()" style="left: 30%;"> 
            <i class="material-icons">close</i>
            </button> </h4>

        </div>


        <div class="card-body">
            <div style="overflow: auto; height: 450px;">
                <form #projectForm="ngForm" (ngSubmit)="Update() " novalidate>
                    <div>
                        <label>Image</label>

                        <input name="userfile" (change)="fileChange($event)" type="file">
                    </div>

                    <div class="form-group">
                        <mat-form-field class="example-full-width">

                            <input matInput pattern="[a-zA-Z ]*" minlength="3" maxlength="20" [ngClass]="{ 'is-invalid':  nom_jury.invalid }" placeholder="nom" #nom_jury="ngModel" required [(ngModel)]="juryModel.nom_jury" name="nom_jury">

                            <div *ngIf="nom_jury.touched && !nom_jury.valid">

                                <small class="text-danger" *ngIf="nom_jury.errors.required"> champ nom est vide </small>
                                <small *ngIf="nom_jury.errors.pattern" class="text-danger"> Champ nom  doit contenir seulement des caractéres</small>
                                <small class="text-danger" *ngIf="nom_jury.errors.minlength">champ nom  doit contenir au minimum {{nom_jury.errors.minlength.requiredLength }} caractéres.</small>

                                <small class="text-danger" *ngIf="nom_jury.errors.maxlength">champ nom  doit contenir au maximum {{nom_jury.errors.maxlength.requiredLength }}  caractéres.</small>

                            </div>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="example-full-width">

                            <input matInput pattern="[a-zA-Z ]*" minlength="3" maxlength="20" [ngClass]="{ 'is-invalid':  prenom_jury.invalid }" placeholder="prenom" #prenom_jury="ngModel" required [(ngModel)]="juryModel.prenom_jury" name="prenom_jury">

                            <div *ngIf="prenom_jury.touched && !prenom_jury.valid">

                                <small class="text-danger" *ngIf="prenom_jury.errors.required"> champ prenom est vide </small>
                                <small *ngIf="prenom_jury.errors.pattern" class="text-danger"> Champs prenomnom  doit contenir seulement des caractéres</small>
                                <small class="text-danger" *ngIf="prenom_jury.errors.minlength">champ prenom  doit contenir au minimum  {{prenom_jury.errors.minlength.requiredLength }} caractéres.</small>

                                <small class="text-danger" *ngIf="prenom_jury.errors.maxlength">champ prenom  doit contenir au maximum  {{prenom_jury.errors.maxlength.requiredLength }} 20  caractéres.</small>

                            </div>
                        </mat-form-field>
                    </div>


                    <div class="form-group">
                        <mat-form-field class="example-full-width">

                            <input matInput [ngClass]="{ 'is-invalid':  profil_jury.invalid }" placeholder="Linkedin" #profil_jury="ngModel" required [(ngModel)]="juryModel.profil_jury" name="profil_jury">

                            <div *ngIf="profil_jury.touched && !profil_jury.valid">

                                <small class="text-danger" *ngIf="profil_jury.errors.required">le champ profil est vide </small>


                            </div>
                        </mat-form-field>
                    </div>



                    <div class="form-group">
                        <mat-form-field class="example-full-width">

                            <input type="text" minlength="3" matInput pattern="[a-zA-Z ]*" [ngClass]="{ 'is-invalid':  pays.invalid }" placeholder="pays" #pays="ngModel" required [(ngModel)]="juryModel.pays" name="pays">

                            <div *ngIf="pays.touched && !pays.valid">

                                <small class="text-danger" *ngIf="pays.errors.required"> champ pays est vide </small>
                                <small class="text-danger" *ngIf="pays.errors.pattern"> Champs pays  doit contenir seulement des caractéres</small>
                                <small class="text-danger" *ngIf="pays.errors.minlength"> champ pays doit contenir au minimum {{pays_speakers.errors.minlength.requiredLength }} caractéres.</small>

                            </div>
                        </mat-form-field>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer
       
    </button>


                    <button type="button" (click)="resetForm()"> Annuler</button>

                </form>
            </div>
        </div>
    </div>
</div>