<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des Laureats disponibles

                            <button mat-raised-button (click)="OpenNewLaureat()" style="left: 70%;">
                    Ajouter
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                       </button>
                        </h4>

                    </div>


                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">



                            <div class="table-responsive-xl">

                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                image
                                            </th>
                                            <th>
                                                categorie
                                            </th>



                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let lau of lauts | paginate: { itemsPerPage: 7, currentPage: p } ">

                                            <td>
                                                <img *ngIf="lau.image!=null" src="{{base_url}}{{lau.image}}" style="width: 150px;height: 150px;">
                                            </td>
                                            <td>
                                                {{lau.categorie}}

                                            </td>

                                            <td>

                                                <button type="button" color="danger" class="" (click)="Supp(lau.id_laureats)">
                                                <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                </button>


                                            </td>





                                        </tr>

                                    </tbody>


                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>