<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des candidats disponibles</h4>
                    </div>
                    <div class="input-group md-form form-sm form-1 pl-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                                aria-hidden="true"></i></span>
                        </div>
                        <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" />
                    </div>

                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">




                            <div class="table-responsive-xl">

                                <table class="table table-hover" matSort>
                                    <thead class="">
                                        <tr>
                                            <th mat-sort-header>
                                                Num candidat
                                            </th>
                                            <th>
                                                Nom
                                            </th>
                                            <th>
                                                prenom
                                            </th>

                                            <th>
                                                telephone
                                            </th>

                                            <th>
                                                email
                                            </th>

                                            <th>
                                                adresse
                                            </th>

                                            <th>
                                                code_postale
                                            </th>

                                            <th>
                                                Ville
                                            </th>

                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let candit of candidats | filter:searchText">

                                            <td>
                                                {{candit.id_candidat}}
                                            </td>

                                            <td>
                                                {{candit.nom_candidat}}
                                            </td>
                                            <td>
                                                {{candit.prenom_candidat}}
                                            </td>
                                            <td>
                                                {{candit.telephone}}
                                            </td>
                                            <td>
                                                {{candit.email}}
                                            </td>
                                            <td>
                                                {{candit.adresse}}
                                            </td>
                                            <td>
                                                {{candit.code_postale}}
                                            </td>

                                            <td>
                                                {{candit.ville}}
                                            </td>

                                            <td>


                                                <!-- Button trigger modal -->
                                                <button mat-fab color="primary" type="button" class="" data-toggle="modal" data-target="#exampleModalLong" (click)="Supprimer(condit.id_candidat)">
                                                    <i class="material-icons">delete</i>
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                          </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you Sure you wante to delete
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button class="btn btn-raised btn-primary " data-togle="modal" data-target="delete" (click)="Supprimer(candit.id_candidat)">Supprimer</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Events</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-auto">
                <label for="title"> Titre </label>
                <br>
                <input type="text" id="title" [(ngModel)]="title">
            </div>

        </div>

        <div class="row">
            <div class="col-md-auto">
                <label> Description</label>
                <br>
                <textarea [(ngModel)]="desc"> </textarea>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Debut </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_debut" required></my-date-picker>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Fin </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_fin" required></my-date-picker>
            </div>

        </div>




    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Save</button>
    </div>
</ng-template>