<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des candidats disponibles </h4>
                    </div>
                    <div class="input-group md-form form-sm form-1 pl-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                                aria-hidden="true"></i></span>
                        </div>
                        <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" />
                    </div>

                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">




                            <div class="table-responsive-xl">

                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                Identifiant
                                            </th>
                                            <th>
                                                Nom_ste_agence
                                            </th>
                                            <th>
                                                Personne_resp_candidature
                                            </th>

                                            <!-- <th>
                                                Télèphone
                                            </th>-->

                                            <th>
                                                E-mail
                                            </th>

                                            <!--  <th>
                                                adresse
                                            </th>

                                            <th>
                                                code_postale
                                            </th>

                                            <th>
                                                Ville
                                            </th>
                                            <th>
                                                Nom société/agence
                                            </th>
                                            <th>
                                                Site Web
                                            </th>
                                            <th>
                                                Client/Fournisseur
                                            </th>-->
                                            <th>
                                                Paiement
                                            </th>
                                            <th>
                                                Dossier de candidature
                                            </th>
                                            <th>
                                                Autre pieces
                                            </th>



                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let candit of candidats | filter:searchText | paginate: { itemsPerPage: 7, currentPage: p }">

                                            <td>
                                                {{candit.id_candidat}}
                                            </td>

                                            <td>
                                                {{candit.nom_societe_agence}}
                                            </td>
                                            <td>
                                                {{candit.personne_responsable_candidature}}
                                            </td>
                                            <!--  <td>
                                                {{candit.telephone}}
                                            </td>-->
                                            <td>
                                                {{candit.email}}


                                            </td>
                                            <td>
                                                <div>
                                                    <input type="checkbox">
                                                </div>
                                                <div>

                                                    <button type="button" color="danger" (click)="Enoyer_QRcode(candit.id_candidat,candit.email,candit.nom_societe_agence,candit.personne_responsable_candidature)"> 
                                                       
                                                        Envoyer QR_code

                                                       
                                             

                                                    </button>




                                                </div>
                                                <!-- <div class="checkbox">
                                                    <label style="color:black"><input type="checkbox"  value="" (change)="EnoyerQr(candit.id_candidat,candit.email,candit.nom_societe_agence,candit.personne_responsable_candidature)"> Envoyer QR_code</label>
                                                </div>-->



                                            </td>

                                            <!--- <td>
                                                {{candit.adresse}}
                                            </td>
                                            <td>
                                                {{candit.code_postale}}
                                            </td>

                                            <td>
                                                {{candit.ville}}
                                            </td>
                                            <td>
                                                {{candit.nom-societe-agence}}
                                            </td>
                                            <td>
                                                {{candit.site-web}}
                                            </td>
                                            <td>
                                                {{candit.client-fournisseur}}
                                            </td>-->
                                            <td>

                                                <a download href="{{base_url}}/{{candit.dossier_candidature}}"> télècharger le fichier</a>

                                            </td>
                                            <td>

                                                <a download href="{{base_url}}/{{candit.autre_pieces}}">  télècharger le fichier</a>

                                            </td>

                                            <td>




                                                <button type="button" color="danger" class="" (click)="Supprimer(candit.id_candidat)">
                                                    <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                    </button>



                                                <button type="button" color="primary" class="" (click)="openlistcan(candit.id_candidat)">
                                                    <i class=" fa fa-list-alt" aria-hidden="true" color="primary"></i>
                                                    </button>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Events</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-auto">
                <label for="title"> Titre </label>
                <br>
                <input type="text" id="title" [(ngModel)]="title">
            </div>

        </div>

        <div class="row">
            <div class="col-md-auto">
                <label> Description</label>
                <br>
                <textarea [(ngModel)]="desc"> </textarea>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Debut </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_debut" required></my-date-picker>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Fin </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_fin" required></my-date-picker>
            </div>

        </div>




    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Save</button>
    </div>
</ng-template>