<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des jurys disponibles

                            <button mat-raised-button (click)="onCreate()">
                      Ajouter
                      <i class="fa fa-plus" aria-hidden="true"></i> 
                         </button>
                        </h4>

                    </div>


                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">




                            <div class="table-responsive-xl">

                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                image
                                            </th>
                                            <th>
                                                Nom
                                            </th>
                                            <th>
                                                prenom
                                            </th>

                                            <th>
                                                Profil
                                            </th>

                                            <th>
                                                Pays
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let ju of jurys | paginate: { itemsPerPage: 7, currentPage: p } ">

                                            <td>
                                                {{ju.id_jury}}
                                            </td>
                                            <td>
                                                <img *ngIf="ju.image!=null" src="{{base_url}}{{ju.image}}" style="width: 150px;height: 150px;">
                                            </td>
                                            <td>
                                                {{ju.nom_jury}}
                                            </td>
                                            <td>
                                                {{ju.prenom_jury}}
                                            </td>
                                            <td>
                                                {{ju.profil_jury}}
                                            </td>
                                            <td>
                                                {{ju.pays}}
                                            </td>
                                            <td>

                                                <button type="button" color="danger" class="" (click)="Supp(ju.id_jury)">
                                                    <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                    </button>


                                                <button type="button" color="primary" class="" (click)="open(ju)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" color="primary"></i>
                                                </button>
                                            </td>





                                        </tr>

                                    </tbody>


                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>