<!-- <ul *ngFor="let expo of exposants">
    <li> -->


<ul class="list-group">
    <li class="list-group-item active"><b>Plus de détails</b></li>
    <li class="list-group-item"><b>Adresse</b>: {{exposant.adresse}}</li>
    <li class="list-group-item"><b>Code_postale:</b> {{exposant.code_postale}}</li>
    <li class="list-group-item"><b>Ville:</b> {{exposant.ville}}</li>
    <li class="list-group-item"><b>Pays:</b> {{exposant.pays}}</li>
    <li class="list-group-item"><b>Mobile:</b> {{exposant.Mobile}}</li>
    <li class="list-group-item"><b>Code_TVA: </b>{{exposant.code_TVA}}</li>
    <li class="list-group-item"><b>Raison_sociale: </b>{{exposant.raison_sociale}}</li>
    <li class="list-group-item"><b>Cheque: </b>{{exposant.cheque}}</li>






</ul>
<div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-outline-info">Fermer</button>

</div>
<!--    </li>
</ul> -->