<!-- <ul *ngFor="let expo of exposants">
    <li> -->


<ul class="list-group">
    <li class="list-group-item active">Cras justo odio</li>

    <li class="list-group-item">id:{{exposant.id_exposant}}</li>
    <li class="list-group-item">nom: {{exposant.nom_exposant}}</li>
    <li class="list-group-item">paiement:{{exposant.paiement}}</li>
    <li class="list-group-item">pays:{{exposant.pays}}</li>


</ul>
<div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-outline-info">Fermer</button>

</div>
<!--    </li>
</ul> -->