<div class="d-flex justify-content-between">
    <h4> Ajouter un nouveau Laureats</h4>
    <button mat-button (click)="onClose()"> 
    <i class="material-icons">close</i>
</button>
</div>

<div>
    <label> image</label>
    <img [src]="imageUrl" style="width:250px ; height:200px">
    <input type="file" id="image" (change)="onSelectedFile($event.target.files)" [(ngModel)]="laureatModel.image" />
</div>
<div>
    <button type="submit" (click)="Ajouter()" class="btn btn-primary"> ajouter</button>
</div>