<div class="d-flex justify-content-between">
    <h4> Modifier les informations de speaker</h4>
    <button mat-button (click)="onClose()"> 
  <i class="material-icons">close</i>
</button>
</div>
<div style="overflow: auto; height: 450px;">
    <form #projectForm="ngForm" (ngSubmit)="ModifierSpeak() ">

        <div>
            <label>Image</label>

            <input name="userfile" (change)="fileChange($event)" type="file">
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width">

                <input matInput placeholder="nom" required [(ngModel)]="speakerModel.nom_speakers" name="nom_speakers">
                <!--<i class="material-icons">nom_speakers</i>-->

                <div *ngIf="submitted && nom_speakers.errors" class="alert alert-danger alert-dismissible fade show">
                    <div *ngIf="nom_speakers.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="nom_speakers.errors.pattern">Ce champ est obligatoire</div>
                </div>
            </mat-form-field>




        </div>



        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Prenom speaker</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="prenom_speaker" [(ngModel)]="speakerModel.prenom_speakers">
        </div>



        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Profil speaker</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="profil_speaker" [(ngModel)]="speakerModel.profil_speakers">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> Pays speaker </span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="pays_speaker " [(ngModel)]="speakerModel.pays">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer
     
  </button>


        <button type="button" (click)="resetForm()"> Annuler</button>






    </form>
</div>