<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card card-plain">


                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des Partenaires disponibles

                            <button mat-raised-button (click)="OpenNewSponsors()" style="left: 75%; ">
                          Ajouter
                          <i class="fa fa-plus" aria-hidden="true"></i> 
                             </button>
                        </h4>
                    </div>
                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">

                            <div class="table-responsive-xl">

                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Logo
                                            </th>
                                            <th>
                                                Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let parte of part ">
                                            <td>
                                                {{parte.id_partenaires}}
                                            </td>


                                            <td>
                                                <img *ngIf="parte.image!=null" src="{{base_url}}{{parte.image}}" style="width: 150px;height: 150px;">
                                            </td>

                                            <td>
                                                <button type="button" color="danger" class="" (click)="Supprimer(parte.id_partenaires)">
                                              <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                              </button>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>