<ul class="list-group">
    <li class="list-group-item active"><b>Plus de détails</b></li>
    <li class="list-group-item"><b>Identifiant</b>: {{participant.id_participant}}</li>
    <li class="list-group-item"><b>Nom</b>: {{participant.nom_participant}}</li>
    <li class="list-group-item"><b>Prénom</b>: {{participant.prenom_participant}}</li>
    <li class="list-group-item"><b>E-mail</b>: {{participant.email_participant}}</li>
    <li class="list-group-item"><b>Adresse</b>: {{participant.adresse}}</li>
    <li class="list-group-item"><b>Code postal</b>: {{participant.code_postale}}</li>
    <li class="list-group-item"><b>Raison Sociale</b>: {{participant.raison_sociale}}</li>
    <li class="list-group-item"><b>Ville</b>: {{participant.ville}}</li>
    <li class="list-group-item"><b>Code TVA</b>: {{participant.code_TVA}}</li>
    <li class="list-group-item"><b>Nombre de place à réserver</b>: {{participant.nbr_place_reserver}}</li>
    <li class="list-group-item"><b>Programme choisie</b>: {{participant.choix_programme}}</li>
    <li class="list-group-item"><b>Paiement</b>: {{participant.paiement}}</li>
    <li class="list-group-item"><b>Numéro de chéque</b>: {{participant.num_cheque}}</li>
</ul>

<div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-outline-info">Fermer</button>

</div>