<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des Exposants disponibles</h4>
                    </div>

                    <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" />

                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Num Exposant
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        Telephone
                                    </th>
                                    <th>
                                        raison_sociale
                                    </th>
                                    <th>
                                        adresse
                                    </th>
                                    <th>
                                        code_postale
                                    </th>
                                    <th>
                                        ville
                                    </th>
                                    <!-- <th>
                                        pays
                                    </th>-->
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        code_TVA
                                    </th>
                                    <!-- <th>
                                        paiement
                                    </th>-->
                                    <th>
                                        cheque
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let expo of exposants | filter:searchText | paginate: { itemsPerPage: 7, currentPage: p }">
                                        <td>
                                            {{expo.id_exposant}}
                                        </td>
                                        <td>
                                            {{expo.nom_exposant}}
                                        </td>

                                        <td>
                                            {{expo.prenom_exposant}}
                                        </td>
                                        <td>
                                            {{expo.email_exposant}}
                                        </td>
                                        <td>
                                            {{expo.telephone}}
                                        </td>
                                        <td>
                                            {{expo.raison_sociale}}
                                        </td>
                                        <td>
                                            {{expo.adresse}}
                                        </td>
                                        <td>
                                            {{expo.code_postale}}
                                        </td>
                                        <td>
                                            {{expo.ville}}
                                        </td>
                                        <td>
                                            {{expo.pays}}
                                        </td>
                                        <td>
                                            {{expo.Mobile}}
                                        </td>
                                        <td>
                                            {{expo.code_TVA}}
                                        </td>
                                        <!-- <td>
                                            {{expo.paiement}}
                                        </td>-->
                                        <td>
                                            {{expo.cheque}}
                                        </td>

                                        <td>

                                            <!-- Button trigger modal -->


                                            <button type="button" color="danger" class="" data-toggle="modal" data-target="#exampleModalLong">
                                                <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Suppression!??</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                  </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Vous-voulez vraiment supprimer?
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                            <button class="btn btn-raised btn-primary " data-dismiss="modal" data-target="delete" (click)="Supprimer(expo.id_exposant)">Supprimer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <button type="button" color="primary" class="" (click)="openListExpo(expo.id_exposant)">
                                                <i class=" fa fa-eye" aria-hidden="true" color="primary"></i>
                                                </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression!??</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Ajouter Events</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-auto">
                            <label for="title"> Titre </label>
                            <br>
                            <input type="text" id="title" [(ngModel)]="title">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <label> Description</label>
                            <br>
                            <textarea [(ngModel)]="desc"> </textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label> Date Debut </label>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_debut" required></my-date-picker>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label> Date Fin </label>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_fin" required></my-date-picker>
                        </div>

                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Save</button>
                </div>
            </ng-template>