::ng-deep snack-bar-container.green-snackbar {
    padding: 20px;
    //background-color: limegreen;
    max-width: 90% !important;
    margin-left: auto !important; // center align from left
    margin-right: auto !important; // center align from right
    margin-bottom: 1rem !important;
    padding: 10px !important; // spacing between the text and boundary
    background-color: #0b8357;
    color: #f7f0cf;
    .mat-button-wrapper {
        color: black !important;
    }
}

.col-form-label {
    color: black
}