<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---- <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)">ajouter un evenement</button>-->
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des Participants disponibles</h4>





                    </div>



                    <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" />




                    <div class="example-container mat-elevation-z8">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Identifiant
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prénom
                                    </th>
                                    <th>
                                        E-mail
                                    </th>
                                    <th>
                                        Nombre de place réserver
                                    </th>
                                    <th>
                                        Paiement
                                    </th>
                                    <th>
                                        Qr_code
                                    </th>
                                    <th>
                                        Attestaion
                                    </th>
                                    <th>
                                        Envoyer document
                                    </th>
                                    <!-- <th>
                                        adresse
                                    </th>
                                    <th>
                                        code_postale
                                    </th>
                                    <th>
                                        raison_sociale
                                    </th>
                                    <th>
                                        code_TVA
                                    </th>
                                    <th>
                                        ville
                                    </th>-->

                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let part of participants | filter:searchText | paginate: { itemsPerPage: 7, currentPage: p }">
                                        <td>
                                            {{part.id_participant}}
                                        </td>
                                        <td>
                                            {{part.nom_participant}}
                                        </td>
                                        <td>
                                            {{part.prenom_participant}}
                                        </td>
                                        <td>
                                            {{part.email_participant}}


                                        </td>

                                        <!-- <td>
                                            {{part.adresse}}
                                        </td>
                                        <td>
                                            {{part.code_postale}}
                                        </td>
                                        <td>
                                            {{part.raison_sociale}}
                                        </td>
                                        <td>
                                            {{part.code_TVA}}
                                        </td>
                                        <td>
                                            {{part.ville}}
                                        </td>-->


                                        <td>
                                            {{part.nbr_place_reserver}}
                                        </td>
                                        <td>

                                            {{part.paiement}}
                                        </td>
                                        <td>
                                            <div *ngIf="part.qrcode == 0 ; else other_content1  ">

                                                <button type="button" color="danger" (click)="Enoyer_QRcode(part.id_participant,part.nom_participant,part.prenom_participant,part.email_participant)">
                                                    <i class="fa fa-qrcode" aria-hidden="true"></i> Envoyer QR_code
                                                </button>
                                            </div>
                                            <ng-template #other_content1>
                                                Qrcode Envoyer <i style="color: green;" class="fa fa-check" aria-hidden="true"></i>

                                                <!-- <p>{{part.attestation}}
                                                </p>-->
                                            </ng-template>

                                        </td>






                                        <td>
                                            <!-- <div *ngIf="part.attestation ==='' ; else other_content">-->
                                            <div *ngIf="part.attestation == null ; else other_content">

                                                <button type="submit" (click)="Openaddmail(part)">
                                                    Envoyer_Attestaion
                                             </button>
                                            </div>

                                            <ng-template #other_content>
                                                Attestation Envoyer <i style="color: green;" class="fa fa-check" aria-hidden="true"></i>

                                                <!-- <p>{{part.attestation}}
                                                </p>-->
                                            </ng-template>
                                        </td>
                                        <td>
                                            <!--  <*ngIf="part.fichier_conference == null ; else other_content">-->
                                            <div *ngIf="part.fichier_conference == null ; else other_content2">

                                                <button type="submit" (click)="Opendoc(part)">
                                                    Envoyer document
                                             </button>
                                            </div>

                                            <ng-template #other_content2>
                                                Document Envoyer <i style="color: green;" class="fa fa-check" aria-hidden="true"></i>

                                                <!-- <p>{{part.attestation}}
                                                </p>-->
                                            </ng-template>
                                        </td>
                                        <td>

                                            <!-- Button trigger modal -->

                                            <button type="button" color="danger" class="" (click)="Supprimer(part.id_participant)">
                                                    <i class="fa fa-trash-o" aria-hidden="true" color="danger"></i>
                                                    </button>


                                            <!-- Modal -->

                                            <button type="button" color="primary" class="" (click)="openlistpart(part.id_participant)">
                                                <i class=" fa fa-list-alt" aria-hidden="true" color="primary"></i>
                                                </button>

                                        </td>




                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Events</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-auto">
                <label for="title"> Titre </label>
                <br>
                <input type="text" id="title" [(ngModel)]="title">
            </div>

        </div>

        <div class="row">
            <div class="col-md-auto">
                <label> Description</label>
                <br>
                <textarea [(ngModel)]="desc"> </textarea>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Debut </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_debut" required></my-date-picker>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> Date Fin </label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date_fin" required></my-date-picker>
            </div>

        </div>




    </div>
    <div class="modal-body">
        Are you Sure you wante to delete
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-danger " data-togle="modal" data-target="delete" (click)="Supprimer(part.id_participant)">Supprimer</button>
        <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Save</button>
    </div>

</ng-template>