<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Mon Profil </h4>
                      
                  </div>
                  <div class="card-body">
                      <!----<form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                 
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>-->
                      <div class="col-md-12">
                          <div class="card card-plain">
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title mt-0"> Liste de mes evenements </h4>
                                 
                              </div>
                              <div class="card-body">
                                  <div class="table-responsive">
                                        <table class="table table-hover">
                                                <thead class="">
                                                    <th>
                                                        Titre
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Date début
                                                    </th>
                                                    <th>
                                                        date fin
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor ="let evn of evnt">
                                                        <td>
                                                            {{evn.Titre}}
                                                        </td>
                                                        <td>
                                                                {{evn.description}}
                                                        </td>
                                                        <td>
                                                            {{evn.Date_debut}}
                                                    </td>
                                                        <td>
                                                                {{evn.Date_fin}}
                                                        </td>
                                                        <td>
                                                                <button class="btn btn-secondary" (click)="Reservation(evn.IdEvent)">Réserver</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="card card-plain">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title mt-0"> Listes de Reservation </h4>
                                             
                                          </div>
                                          <div class="card-body">
                                              <div class="table-responsive">
                                                  <table class="table table-hover">
                                                      <thead class="">
                                                          <th>
                                                            Titre 
                                                          </th>
                                                          <th>
                                                             Date Debut
                                                          </th>
                                                          <th>
                                                             Date Fin
                                                          </th>
                                                          <th>
                                                             Status 
                                                          </th>
                                                          <th>
                                                             Options
                                                          </th>
                                                      </thead>
                                                      <tbody>
                                                          <tr *ngFor="let event of reservation">
                                                              <td>
                                                                {{event.Titre}}
                                                              </td>
                                                              <td>
                                                                    {{event.Date_debut}}
                                                              </td>
                                                              <td>
                                                                    {{event.Date_fin}}
                                                              </td>
                                                              <td *ngIf="event.accepte==0">
                                                                    En Cours | Réfusé 
                                                              </td>
                                                              <td *ngIf="event.accepte==1">
                                                                    Accepter
                                                              </td>
                                                              <td>
                                                                 <button class="btn btn-primary">Modifier</button>
                                                              </td>
                                                          </tr>
                                                         
                                                      </tbody>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar" style="background-color: white;">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{user[0].NomUtilisateur}} {{user[0].PrenomUtilisateur}}</h6>
                      <h4 class="card-title">Tél : {{user[0].TelUtilisateur}}</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Modifier</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
